*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*------Container geral----------*/

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100vh;
    background-image: linear-gradient(to bottom right, rgb(235, 130, 179), rgb(73, 63, 160));
}

/*----------------Formulario 1--------------------*/

.form-inside{
    border: 1px solid rgb(252, 167, 255);
    width: 400px;
    height: 500px;
    background-color: rgb(250, 199, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hide{
    display: none; 
}

/*-------------Imagem de login (TOPO)-----------*/

.tex img{
    width: 60px;
    height: 60px;
    margin: 30px 0 10px 0;
}

/*-------------Usuario e senha--------------------*/

.input{
    width: 300px;
    height: 300px;
    padding: 10px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input input{
    width: 250px;
    height: 35px;
    margin: 20px;
    padding: 15px;
    box-shadow: 0.5px 0.5px rgb(227, 128, 240);
    border-radius: 5px;

}

.button{
    width: 90px;
    height: 50px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button button{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(51, 50, 51);
    border:1px solid rgb(128, 93, 121);
}

button:hover{
    background-color: rgb(247, 175, 225);
}

/*-------------------------Cadastro-------------------------*/

.cadastro{
    width: 300px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    color: rgb(51, 50, 51);
    margin: 100px;
}

a{
    text-decoration: none;
}

a:hover{
    color:rgb(51, 50, 51);
}

/*----------------Formulario 2--------------------*/

.form2-inside{
    border: 1px solid rgb(252, 167, 255);
    width: 400px;
    height: 550px;
    background-color: rgb(250, 199, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p{
    background-color: rgb(250, 199, 225);
    width: 300px;
    height: 40px;
    text-align: center; 
    font-size: 18px;
    font-weight: bold; 
    margin: 20px;
}
.inp{
    width: 300px;
    height: 300px;
    padding: 10px 0 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inp input{
    width: 250px;
    height: 35px;
    margin: 15px;
    padding: 8px;
    box-shadow: 0.5px 0.5px rgb(227, 128, 240);
    border-radius: 5px;
}

.enviar{
    width: 90px;
    height: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.enviar button{
    width: 80px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: aliceblue;
    border:1px solid rgb(128, 93, 121);
    background-color: rgb(153, 13, 146);
}

button:active{
    color: rgb(51, 50, 51);
    background-color: rgb(227, 175, 247);
}

.login{
    width: 300px;
    height: 40px;
    text-align: center;
    font-size: 12px;
}

